.table {
    text-align: left;
    vertical-align: middle;
    border: #dd02f4 14px outset;
    border-radius: 10px;
    margin-top: 10px;
    width: 700px;
    color: white;
    font-weight: bold;

}

.flex-container {
    display: flex;
    height: 100px;
    flex-flow: column wrap;
    background-color: #0cce0c;
}

.flex-container > div {
    background-color: #fff;
    width: 50px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;

}

td, th {
    width: 50px;
    text-align: center;
    border: 10px outset #dd02f4;
}