.App {
    text-align: center;
}

.title {
    font-size: 84px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}
body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}